<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="backToHome()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chat mit {{email}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="chat$|async as chat">

    <div *ngFor="let message of chat">
      *ngFor="i"
      {{message[0]}}
      {{message[1]}}
      
      
    </div>
  </div>


  <ion-item fill="solid" class="ion-margin-bottom">
    <ion-input [(ngModel)]='message'></ion-input>
  </ion-item>
  <ion-button type="button" expand="block" color="secondary" (click)="sendMessage()">-></ion-button>
  <ion-button type="button" expand="block" color="secondary" (click)="fillChatContainerFromDB()">Chat</ion-button>
</ion-content>