<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="backToHome()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Gruppenchat Setup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item no-lines text-wrap class="item" *ngFor="let member of groupMember" >
      <p>{{member}}</p>
      <ion-button type="button" expand="block" color="secondary" (click)="deleteFromGroup(member)">X</ion-button>
      </ion-item>
  </div>
  <div>
    <ion-input [(ngModel)]="groupMemberInput"></ion-input>
    <ion-button type="button" expand="block" color="secondary" (click)="addToGroup()">zur Gruppe hinzufügen</ion-button>
    <ion-input [(ngModel)]="groupName"></ion-input>
    <ion-button type="button" expand="block" color="secondary" (click)="setupGroup()">Gruppe erstellen</ion-button>
  </div>
</ion-content>
